<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue.js • TodoList</title>
  </head>
  <body>
    <section id="app" class="todoapp">
      <header class="header">
        <h1>待办事项</h1>
        <input class="new-todo" placeholder="请输入待办事项" autofocus
        v-model.trim="inputVal"
        @keyup.enter="addTodo"
        >
      </header>
      <section class="main">
        <input v-model="isAll" id="toggle-all" class="toggle-all" type="checkbox">
        <label for="toggle-all" title="全选">全选</label>
        <ul class="todo-list">
          <li v-for="(todo,i) in todoListFiltered" :key="todo.id"
          :class="{completed:todo.completed,editing:todo === editTodo}">
            <div class="view">
              <input v-model="todo.completed" class="toggle" type="checkbox">
              <label @dblclick="handleEditTodo(todo)">
                {{todo.content}}
              </label>
              <button class="destroy" @click="deleteTodo(i)"></button>
            </div>
            <input class="edit" v-model.trim="todo.content" v-focus="editTodo === todo"
            @blur="commitEdit(todo,i)"
            @keyup.enter="commitEdit(todo,i)"
            @keyup.esc="cancleEdit(todo,i)"
            >
          </li>
        </ul>
      </section>
      <!-- This footer should hidden by default and shown when there are todos -->
      <footer class="footer" v-show="todoList.length">
        <!-- This should be `0 items left` by default -->
        <span class="todo-count"><strong>{{remain}}</strong> 项待完成</span>
        <!-- Remove this if you don't implement routing -->
        <ul class="filters">
          <li>
            <a :class="{selected:hashName==='#/'}" href="#/">全部</a>
          </li>
          <li>
            <a :class="{selected:hashName==='#/active'}" href="#/active">待完成</a>
          </li>
          <li>
            <a :class="{selected:hashName==='#/completed'}" href="#/completed">已完成</a>
          </li>
        </ul>
        <!-- Hidden if no completed items are left ↓ -->
        <button class="clear-completed" v-show="remain < todoList.length" @click="clearCompletedTodo">
          清空已完成项
        </button>
      </footer>
    </section>
    
    <footer id="footer" class="info">
      <p>Enter键添加内容</p>
      <p>双击内容进行编辑</p>
      <p>失去焦点、Enter时保存编辑，Esc取消编辑</p>
    </footer>
  </body>
</html>